@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Condensed:wght@300&display=swap');

.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, .7);
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
}

.form h1{
    margin: 35px 100px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Quicksand', sans-serif;
}

.top{
    margin-top: -25px;
}

.form-input{
    margin: 10px 150px;
    text-align: center;
    color: #1f1209;
    border-radius: 10px;
    border: 3px solid black;
}

.register{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 90px;
    width: 35%;
    color: #1f1209;
    border-radius: 10px;
    border: 3px solid black;
}

.register:hover{
    color:aliceblue;
    background: #1f1209;
}

.acc{
    text-align: center;
    margin-top: 35px;
    font-family: 'Quicksand', sans-serif;
}

.acc a{
    text-decoration: none;
    color: #fff;
}

.acc a:hover{
    color: orangered;
}