@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto+Condensed:wght@300&display=swap');

.titel_shop{
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
}

.line{
    margin: -60px auto 10px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;
	width: 95%;
}

#centre{
    width: 900px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product{
    display: flex;
    flex-direction: column;
    max-width: 280px;
    justify-content: space-between;
    background: white;
    margin-top: 100px;
}

.photo{
    width: 150px;
}

.user{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.user:not(:last-child){
    margin-right: 10px;
}

.head_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translate(0,-10px);
}

.head_content a{
    display:inline-block;
    padding:10px;
}

.link{
    margin-right:10px;
    font-size: 15px;
    color:black;
    font-family: 'Quicksand', sans-serif;
}

.log_out{
    text-decoration: none;
    font-size: 15px;
    color:black;
    font-family: 'Quicksand', sans-serif;
}

.log_out:hover{
    color: orangered;
}

.product{
    display: flex;
    flex-direction: column;
    max-width: 280px;
    justify-content: space-between;
    background: white;
    margin-top: 100px;
    font-family: 'Quicksand', sans-serif;
}